<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - QUẢN TRỊ WEBSITE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/CustomerHome.css" rel="stylesheet" />
    
</head>
<body>
    <header class="main-header">
        <a href="@Url.Action("TrangChu", "Home")" class="logo">
            <img src="~/Content/Images/logo phonestore.png" alt="PhoneStore Logo"> <span>PhoneStore</span>
        </a>

        <div class="header-search-bar">
            @using (Html.BeginForm("TrangChu", "Home", FormMethod.Get))
            {
                @Html.TextBox("searchTerm", null, new { @class = "search-input", placeholder = "Tìm kiếm sản phẩm..." })
                <button type="submit">Tìm kiếm</button>
            }
        </div>

        <nav class="header-nav-buttons">

            <a href="@Url.Action("TrangChu", "Home")" class="nav-button">Trang Chủ</a>
            <a href="@Url.Action("Index", "Cart")" class="nav-button">Giỏ Hàng</a>
            <a href="@Url.Action("Contact", "Home")" class="nav-button">Liên hệ</a>
            @if (Session["Username"] == null)
            {
                <a href="@Url.Action("Register", "Account")" class="nav-button">Đăng Ký</a>
                <a href="@Url.Action("Login", "Account")" class="nav-button">Đăng Nhập</a>
            }
            else
            {
            <a href="@Url.Action("ProfileInfo", "Account")" class="nav-button">
                Xin chào, @Session["Username"]
            </a>
            <a href="@Url.Action("OrderHistory", "Order")" class="nav-button">Đơn hàng</a>
            <a href="@Url.Action("Logout", "Account")" class="nav-button">Đăng Xuất</a>
            }
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
