@model _24DH190272_MyStore.Models.CheckoutVM

@{
    ViewBag.Title = "Thanh Toán Đơn Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-7">
        @using (Html.BeginForm("Checkout", "Order", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Thông tin giao hàng và thanh toán</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.CustomerName, new { @class = "control-label" })
                @Html.EditorFor(m => m.CustomerName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CustomerEmail, new { @class = "control-label" })
                @Html.EditorFor(m => m.CustomerEmail, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CustomerPhone, new { @class = "control-label" })
                @Html.EditorFor(m => m.CustomerPhone, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ShippingAddress, new { @class = "control-label" })
                @Html.EditorFor(m => m.ShippingAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ShippingAddress, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DeliveryMethod, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.DeliveryMethod, new { @class = "form-control", placeholder = "Ví dụ: Giao hàng nhanh" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PaymentMethod, new { @class = "control-label" })
                <br />
                @Html.RadioButtonFor(m => m.PaymentMethod, "COD", new { id = "cod" }) <label for="cod">Thanh toán khi nhận hàng (COD)</label>
                <br />
                @Html.RadioButtonFor(m => m.PaymentMethod, "BankTransfer", new { id = "bank" }) <label for="bank">Chuyển khoản ngân hàng</label>
                @Html.ValidationMessageFor(m => m.PaymentMethod, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Đặt Hàng" class="btn btn-primary" />
            </div>
        }
    </div>

    <div class="col-md-5">
        <h4>Tóm tắt đơn hàng</h4>
        <hr />
        <table class="table">
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.ProductName (x @item.Quantity)</td>
                    <td class="text-right">@string.Format("{0:N0}₫", item.TotalPrice)</td>
                </tr>
            }
            <tr style="font-weight: bold; border-top: 2px solid #333;">
                <td>TỔNG CỘNG</td>
                <td class="text-right">@string.Format("{0:N0}₫", Model.TotalAmount)</td>
            </tr>
        </table>
    </div>
</div>