@model _24DH190272_MyStore.Models.Customer

@{
    ViewBag.Title = "HỒ SƠ CÁ NHÂN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="authen-container" style="max-width: 600px;">
    <h2>THÔNG TIN TÀI KHOẢN</h2>
    <h4>Quản lý hồ sơ cá nhân của bạn</h4>

    <table class="profile-table">
        <tr>
            <th>Họ và tên:</th>
            <td>@Html.DisplayFor(model => model.CustomerName)</td>
        </tr>
        <tr>
            <th>Tên đăng nhập:</th>
            <td>@Html.DisplayFor(model => model.Username)</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>@Html.DisplayFor(model => model.CustomerEmail)</td>
        </tr>
        <tr>
            <th>Số điện thoại:</th>
            <td>@Html.DisplayFor(model => model.CustomerPhone)</td>
        </tr>
        <tr>
            <th>Địa chỉ:</th>
            <td>
                @(string.IsNullOrEmpty(Model.CustomerAddress) ? "Chưa cập nhật" : Model.CustomerAddress)
            </td>
        </tr>
    </table>

    <div style="margin-top: 30px;"></div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 10px;">
            @Html.ActionLink("Về Trang chủ", "TrangChu", "Home", null, new { @class = "btn btn-back" })
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.ActionLink("Lịch sử đơn hàng", "OrderHistory", "Order", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>