@model _24DH190272_MyStore.Models.Customer

@{
    ViewBag.Title = "Thông Tin Tài Khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 30px;">
    <h2>Thông tin tài khoản của bạn</h2>
    <hr />

    <div class="row">
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>Họ và tên:</dt>
                <dd>@Html.DisplayFor(model => model.CustomerName)</dd>
                <br />

                <dt>Tên đăng nhập:</dt>
                <dd>@Html.DisplayFor(model => model.Username)</dd>
                <br />

                <dt>Email:</dt>
                <dd>@Html.DisplayFor(model => model.CustomerEmail)</dd>
                <br />

                <dt>Số điện thoại:</dt>
                <dd>@Html.DisplayFor(model => model.CustomerPhone)</dd>
                <br />

                <dt>Địa chỉ:</dt>
                <dd>@Html.DisplayFor(model => model.CustomerAddress)</dd>
            </dl>
        </div>
    </div>

    <hr />
    <p>
        @Html.ActionLink("Quay về Trang chủ", "TrangChu", "Home", null, new { @class = "btn btn-default" })

        @Html.ActionLink("Lịch sử mua hàng", "OrderHistory", "Order", null, new { @class = "btn btn-info" })
    </p>
</div>